/*general styles to be applied to every page*/
* {
	margin: 0; 
	padding: 0;
    border: 0
}
/*Fix for IE*/
img {
	border: 0;
}

html, body {
	width: 100vw;
    height: 100vh;
    background-color: black;
}

#leftBar {
    width: 0vw;
    height: 100vh;
    float: left;
    background-color: #888;
}
#middleBar {
    width: 100vw;
    height: 100vh;
    float: left;
}
#rightBar {
    width: 0vw;
    height: 100vh;
    float: left;
    background-color: #888;
}




header {
    width: 100%;
    height: 20px;
    background-color: dodgerblue;
    position: absolute;
    top: 0px;
    font-size: 9pt;
    color: white;
}
#resetButton{
    width: 50px;
    height: 50px;
    background-color: darkblue;
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 0;
    color: white;
}

#debugLine{
    text-align: center;
    margin-top: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}


#detailLayer{
    -webkit-transition: opacity .2s linear;
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
}
#detailBlinder{
    background-color: black;
    opacity: .65;
    width: 100%;
    height: 100%;
}

#detailWindow{
    font-family: 'Lato', sans-serif;
    background-color: gray;
    width: 50%;
    height: 80%;
    margin-left: 25%;
    top: 10%;
    position: absolute;
}

#dwBanner{
    position: relative;
    width: 100%;
    height: 30%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background-color: black;
}
#dwBannerImage{
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
#dwBannerDarker{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: .6;
    background-color: black;
}
#dwBannerTitle{
    position: absolute;
    color: white;
    font-size: 3vw;
    bottom: 1%;
    margin-left: 1%;
}
#detailX{
    position: absolute;
    font-size: 3vw;
    color: ghostwhite;
    top: 0%;
    margin-top: -1em;
    left: 100%;
    pointer-events: none;
}

#dwTags{
    position: relative;
    height: 7%;
    width: 99%;
    padding-left: 1%;
    font-size: 1.2vw;
    color: white;
    background-color: gray;
    overflow: hidden;
}
.dwTag{
    float: left;
    height: 70%;
    margin-top: .8vh;
    margin-right: 1%;
    
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-left: 1%;
    padding-right: 1%;
    
    background-color: darkgray;
    overflow: hidden;
}

#dwDescription{
    background-color: ghostwhite;
    width: 100%;
    height: 28%;
    font-size: 1.5vw;
    overflow: auto;
}
#dwDescriptionText{
    margin-top: 1vh;
    margin-left: 1%;
    margin-right: 1%;
}

#dwResources{
    background-color: dimgray;
    width: 100%;
    height: 25%;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 1vh;
    overflow-y: scroll;
}
.dwResource{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box;
    padding-top: 1vh;
    
    float:left;
    position: relative;
}
.dwResourceContent{
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: .5vh;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: .5vh;
    overflow: hidden;
}
.dwResourceP1{
    font-size: 1.2vw;
    font-weight: bold;
    float: left;
}
.dwResourceP2{
    font-size: 1.1vw;
    margin-left: 1%;
    float: left;
}

#dwLauncher{
    position: relative;
    height: 10%;
    width: 100%;
    padding-top: .8vh;
    font-size: 1.2vw;
    color: white;
    background-color: gray;
}
#dwLauncher div{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    height: 90%;
    text-align: center;
}
#dwLauncherLaunch{
    float: left;
    width: 73.5%;
    margin-left: 1%;
    margin-right: .5%;
    background-color: dodgerblue;
}
#dwLauncher button{
    border:none;
    box-sizing:border-box;
    height: 90%;
    font-size: 1.2vw;
    color: white;
    float: right;
    width: 23.5%;
    margin-left: .5%;
    margin-right: 1%;
    cursor: pointer;
}


#lockWindow{
    font-family: 'Lato', sans-serif;
    width: 40%;
    margin-left: 30%;
    top: 0;
    position: absolute;
    height: 100%;
}
#lockDivTop{
    position: absolute;
    bottom: 55%;
    width: 100%;
    background-color: ghostwhite;
}
#lockTitle{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: .5vh;
    font-size: 2vw;
}
#lockX{
    position: absolute;
    font-size: 3vw;
    color: ghostwhite;
    top: 0%;
    margin-top: -1em;
    left: 100%;
    pointer-events: none;
}
#lockDivBottom{
    position: absolute;
    top: 45%;
    width: 100%;
    max-height: 20%;
    overflow-y: scroll;
    background-color: ghostwhite;
}
#lockList{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: .5vh;
    font-size: 1vw;
}

.unselected{
    background-color: blue;
}
.selected{
    background-color: dimgray;
}

.hiddenLayer{
    opacity: 0;
    pointer-events: none;
}
.hiddenWindow{
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 1100px) {
    #dwBannerTitle{
        font-size: 24.5pt;
    }
    #dwTags {
        font-size: 10pt;
    }
    #dwDescription{
        font-size: 12.5pt;
    }
    .dwResourceP1{
        font-size: 10pt;
    }
    .dwResourceP2{
        font-size: 9pt;
    }
    #dwLauncher{
        font-size: 10.1pt;
    }
    #dwLauncher button{
        font-size: 10.1pt;
    }
    #lockTitle{
        font-size: 16.5pt;
    }
    #lockList{
        font-size: 8.4pt; 
    }
    #lockX{
        font-size: 23.2pt;
    }
    
}